[Desktop Entry]
Type=Application
Name=FlasterOS Launcher
Comment=Launch games from FlasterOS game configs
Exec=ard-launcher
Icon=flasteros
Terminal=false
Categories=Game;
